.grid-container {
    width: 100%;
    display: grid;
    grid-template-areas: 
    'a a b'
    'c d d'
    'c e e'
    ;
    gap: 10px;
}


body {
    background-color: navy;
}

.item1 {
    grid-area: a;
    background-color: blue;
    padding: 15%;
}

.item2 {
    grid-area: b;
    background-color: red;
    padding: 15%;
}

.item3 {
    grid-area: c;
    background-color: yellow;
    padding: 15%;
}

.item4 {
    grid-area: d;
    background-color: cyan;
    padding: 7.5%;
}

.item5 {
    grid-area: e;
    background-color: cyan;
    padding: 7.5%;
}



