* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(/Responsiveness-mediaqueries/asset/bg-intro-desktop.png);
    font-family: 'Poppins', sans-serif;
    background-color: hsl(0, 100%, 74%);
    color: #ffffff;
}


.container {
    display: flex;
    flex-wrap: wrap;
    /* height: 900px; */
    margin: 0 auto;
    justify-content: center;
    align-content: center;
    padding: 24px;
    min-height: 100vh;
    max-width: 1440px;
    /* margin-left: 100px;
    margin-right: 100px; */
}

.container > div {
    flex: 1;
    padding: 0 100px;
}

h1 {
    font-size: 48px;
    line-height: 50px;
    margin-bottom: 25px;
    margin-top: 120px;
}

p {
    font-size: 16px;
    opacity: 0.8;
}

.box {
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    align-content: center;
    justify-content: center;
    text-align: center;
}

.box-blue {
    background-color: hsl(248, 32%, 49%);
    text-align: center;
}

.box-blue:hover {
    cursor: pointer;
}

.box-button {
    font-size: 8px;
}

input {
    display: block;
    border-radius: 5px;
    border: 1px solid hsl(246, 25%, 77%);
    padding: 15px 25px;
    border-radius: 5px ;
    width: 100%;
}

input:focus {
    border: 2px solid hsl(248, 32%, 49%);
    outline: none;
}

.first {
    padding-top: 20px;
}

button {
    display: block;
    width: 100%;
    padding: 16px 24px;
    border-bottom-width: 5px;
    border: 1px solid hsl(154, 59%, 45%);
    border-radius: 5px;
    background-color: hsl(154, 59%, 51%);
    color: #fff;
    font-size: 16px;
    font-weight: 500;
}

button:hover {
    cursor: pointer;
}

button:focus {
    outline: none;
}

.tc {
    color : black;
    font-size: 10px;
    margin-top: -10px;
}

a {
    text-decoration: none;
    color: red;
}


@media screen and (max-width: 375px) {
    
    body {
        background-image: url(/Responsiveness-mediaqueries/asset/bg-intro-mobile.png);
        font-family: 'Poppins', sans-serif;
        background-color: hsl(0, 100%, 74%);
        color: #ffffff;
        background-repeat: no-repeat;
    }

    .container {
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        justify-content: center;
        align-content: center;
        min-height: 100vh;
    }

    .container > div {
        flex: 1;
        padding: 0 10px;
    }
    
    h1 {
        font-size: 32px;
        line-height: 36px;
        margin-bottom: 5px;
        margin-top: 15px;
        text-align: center;
    }

    p {
        font-size: 12px;
        text-align: center;
    }

    .container > div {
        flex: 1;
        padding: 0px;
    }

    .container-data {
        margin-bottom: 20px;
    }
    
}